language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install python-coveralls
  - pip install coverage
  - pip install nose
script:
  - nosetests --with-coverage
after_success:
  - coveralls

